.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}


















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.cat-owners-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cat-owners-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cat-owners-image {
  width: 334px;
  height: 139px;
  object-fit: cover;
  margin-right: 14px;
}
.cat-owners-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cat-owners-text {
  color: var(--dl-color-scheme-green80);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.cat-owners-text:hover {
  color: #bdbdbdbd;
}

.cat-owners-navlink {
  color: var(--dl-color-scheme-green80);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.cat-owners-navlink:hover {
  color: #bdbdbdbd;
}

.cat-owners-navlink1 {
  color: var(--dl-color-scheme-green80);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.cat-owners-navlink1:hover {
  color: #bdbdbdbd;
}

.cat-owners-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.cat-owners-hero {
  height: 108px;
  position: relative;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 1px;
  justify-content: center;
  background-color: #003b6d;
}
.cat-owners-max-width1 {
  align-items: center;
  background-color: #003b6d;
}
.cat-owners-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.cat-owners-container01 {
  left: -14px;
  width: 1179px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: -358px;
  height: 104px;
  display: flex;
  position: absolute;
  align-items: stretch;
  flex-direction: row;
}
.cat-owners-image01 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.cat-owners-button {
  top: -378px;
  right: -343px;
  width: 228px;
  height: 68px;
  position: absolute;
  padding-left: 44px;
  padding-right: var(--dl-space-space-halfunit);
  background-color: #6699cc;
}
.cat-owners-text01 {
  top: 25px;
  left: 70px;
  position: absolute;
}
.cat-owners-button1 {
  top: -378px;
  right: -343px;
  width: 228px;
  height: 68px;
  position: absolute;
  padding-left: 44px;
  padding-right: var(--dl-space-space-halfunit);
  background-color: #6699cc;
}
.cat-owners-text05 {
  top: 25px;
  left: 70px;
  position: absolute;
}
.cat-owners-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.cat-owners-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.cat-owners-btn-group {
  top: 12px;
  left: 119px;
  width: 917px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cat-owners-login {
  left: 348px;
  color: rgb(102, 153, 204);
  width: 244px;
  bottom: -3px;
  height: 48px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-color: #6699cc;
  border-width: 3px;
  text-decoration: none;
}
.cat-owners-login:hover {
  background-color: #bdbdbdbd;
}

.cat-owners-login1 {
  left: 4px;
  color: rgb(0, 59, 109);
  width: 244px;
  bottom: -3px;
  height: 48px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-color: #6699cc;
  border-width: 3px;
  text-decoration: underline;
  background-color: rgba(189, 189, 189, 0.74);
}
.cat-owners-login1:hover {
  background-color: #ffffff;
}

.cat-owners-login2 {
  color: rgb(102, 153, 204);
  right: -29px;
  width: 244px;
  bottom: -7px;
  height: 48px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-color: #6699cc;
  border-width: 3px;
  text-decoration: none;
}
.cat-owners-login2:hover {
  background-color: #bdbdbdbd;
}

.cat-owners-burger-menu1 {
  display: none;
}
.cat-owners-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cat-owners-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.cat-owners-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cat-owners-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.cat-owners-image02 {
  height: 2rem;
}
.cat-owners-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cat-owners-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cat-owners-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.cat-owners-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.cat-owners-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.cat-owners-section {
  height: 747px;
  background-color: #676767;
}
.cat-owners-max-width2 {
  align-items: stretch;
}
.cat-owners-hero-image {
  width: 832px;
  height: 587px;
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.cat-owners-content1 {
  width: 50%;
  display: flex;
  position: relative;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.cat-owners-text09 {
  top: -3px;
  left: 114px;
  color: rgb(0, 59, 109);
  position: absolute;
  font-size: 50px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
}
.cat-owners-text10 {
  color: rgb(0, 59, 109);
  right: 0px;
  bottom: 112px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.cat-owners-container03 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: row;
}
.cat-owners-section1 {
  height: 754px;
  position: relative;
  background-color: #bdbdbd;
}
.cat-owners-max-width3 {
  position: relative;
  align-items: stretch;
}
.cat-owners-content2 {
  width: 50%;
  display: flex;
  position: relative;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.cat-owners-text11 {
  top: -8px;
  left: 0px;
  color: rgb(0, 59, 109);
  position: absolute;
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
}
.cat-owners-text14 {
  top: 105px;
  left: -6px;
  color: rgb(0, 59, 109);
  position: absolute;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.cat-owners-text16 {
  color: #003b6d;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.cat-owners-container04 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.cat-owners-image04 {
  top: 160px;
  right: 86px;
  width: 334px;
  height: 319px;
  position: absolute;
  box-shadow: 10px 10px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
}
.cat-owners-image05 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.cat-owners-section2 {
  height: 712px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #6699cc;
}
.cat-owners-text23 {
  top: 244px;
  color: #ffffff;
  right: -2px;
  position: absolute;
  font-size: 1.7rem;
  max-width: 600px;
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.cat-owners-testimonial {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.cat-owners-image06 {
  top: -116px;
  left: 14px;
  width: 398px;
  height: 406px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.cat-owners-testimonial1 {
  left: 14px;
  bottom: -143px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cat-owners-container05 {
  left: -154px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 3px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cat-owners-container06 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cat-owners-text26 {
  top: -310px;
  left: -13px;
  color: #ffffff;
  position: absolute;
  font-size: 4rem;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
}
.cat-owners-questions {
  width: 100%;
  height: 769px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.cat-owners-testimonial2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.cat-owners-image07 {
  top: 211px;
  right: -12px;
  width: 422px;
  height: 442px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.cat-owners-testimonial3 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cat-owners-container07 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cat-owners-text27 {
  top: 254px;
  left: -488px;
  color: rgb(0, 59, 109);
  position: absolute;
  font-size: 1.6rem;
  max-width: 600px;
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.cat-owners-text28 {
  font-style: normal;
  font-weight: 700;
}
.cat-owners-container08 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cat-owners-text30 {
  left: 121px;
  color: rgb(0, 59, 109);
  bottom: -76px;
  position: absolute;
  font-size: 2.5rem;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.cat-owners-testimonial4 {
  width: 100%;
  height: 1034px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #003b6d;
}
.cat-owners-testimonial5 {
  left: 18px;
  bottom: -31px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cat-owners-container09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cat-owners-container10 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.cat-owners-text31 {
  top: 78px;
  left: 279px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 2.8rem;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.cat-owners-text32 {
  top: 232px;
  left: 34px;
  position: absolute;
  font-size: 1.7rem;
  max-width: 600px;
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.cat-owners-text33 {
  color: #ffffff;
}
.cat-owners-image08 {
  top: 178px;
  right: 65px;
  width: 318px;
  height: 364px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.cat-owners-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.cat-owners-section3 {
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.cat-owners-footer {
  width: 1200px;
  height: 240px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-scheme-green100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #ffffff;
}
.cat-owners-image09 {
  top: 52px;
  left: 27px;
  width: 280px;
  height: 111px;
  position: absolute;
  object-fit: cover;
}
.cat-owners-image10 {
  top: 92px;
  right: 109px;
  width: 100px;
  position: absolute;
  object-fit: cover;
}
.cat-owners-text35 {
  top: 49px;
  color: #6699cc;
  right: 34px;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.cat-owners-textinput {
  top: 91px;
  left: 385px;
  color: #003b6d;
  position: absolute;
  border-color: #003b6d;
  border-width: var(--dl-size-size-xsmall);
  padding-bottom: 2px;
}
.cat-owners-button2 {
  top: 100px;
  left: 630px;
  color: rgb(255, 255, 255);
  position: absolute;
  transition: 0.3s;
  border-color: #003b6d;
  background-color: rgb(0, 59, 109);
}
.cat-owners-button2:hover {
  background-color: #bdbdbdbd;
}

@media(max-width: 991px) {
  .cat-owners-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .cat-owners-image01 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .cat-owners-max-width2 {
    flex-direction: column;
  }
  .cat-owners-image03 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .cat-owners-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .cat-owners-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .cat-owners-max-width3 {
    flex-direction: column;
  }
  .cat-owners-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .cat-owners-image05 {
    padding-bottom: 0px;
  }
  .cat-owners-text23 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .cat-owners-image06 {
    margin-bottom: 0px;
  }
  .cat-owners-questions {
    width: 60%;
  }
  .cat-owners-image07 {
    margin-bottom: 0px;
  }
  .cat-owners-text27 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .cat-owners-text32 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .cat-owners-image08 {
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .cat-owners-links {
    display: none;
  }
  .cat-owners-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .cat-owners-max-width1 {
    flex-direction: column-reverse;
  }
  .cat-owners-content {
    width: 100%;
    margin-right: 0px;
  }
  .cat-owners-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .cat-owners-nav {
    display: none;
  }
  .cat-owners-btn-group {
    display: none;
  }
  .cat-owners-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cat-owners-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .cat-owners-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .cat-owners-testimonial {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .cat-owners-questions {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .cat-owners-testimonial2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .cat-owners-testimonial4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .cat-owners-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .cat-owners-header {
    padding: var(--dl-space-space-unit);
  }
  .cat-owners-mobile-menu {
    padding: 16px;
  }
  .cat-owners-text23 {
    width: auto;
  }
  .cat-owners-testimonial {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .cat-owners-image06 {
    width: 200px;
  }
  .cat-owners-testimonial2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .cat-owners-image07 {
    width: 200px;
  }
  .cat-owners-text27 {
    width: auto;
  }
  .cat-owners-testimonial4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .cat-owners-text32 {
    width: auto;
  }
  .cat-owners-image08 {
    width: 200px;
  }
  .cat-owners-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
}
